.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

.page{
    background-image:linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}