body{
    display:grid;
    place-items: center;
    height: 100vh;
    background-color: white;
    font-size: larger;
}

.form{
    display:flex;
    background-color: white;
    flex-direction:column;
    border: 2px solid blue;
    padding: 0px 20px 20px;
}

.form-group{
    display:flex;
    align-items: center;
    padding-top:10px;
    justify-content: space-between;
}

.form-group > input,select {
    border: 2px solid red;
}
.form-title{
    text-align: center;
    text-decoration: underline;
    border-bottom: 1px solid blue;
    margin-bottom: 2px;
    color:blue;
    
}